@import '../../definition.scss';

.tangram {
    &-editor {
        &-tips {
            font-size: $font-size-base;
            font-weight: bold;
        }

        &-declaration {
            position: relative;
            outline: none;
            font-size: $font-size-base;
            padding-left: 30px;

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: -30px;
                width: 3px;
                height: 100%;
                display: none;
                background-color: $primary-color;
            }
        }

        li {
            width: 250px;
            margin: auto;
            margin-bottom: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e6e6e6;

            &:hover,
            &.selected {
                .tangram-editor-tips {
                    color: $primary-color;
                }

                .tangram-editor-declaration {
                    &::after {
                        display: block;
                    }
                }
            }
        }
    }
}
