@import '../../definition.scss';

.tangram {
    &-option {
        &-list {
            height: calc(100% - 60px);
            overflow: auto;
            padding: 0 15px;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                float: left;
                width: 120px;
                height: 220px;
                padding: 0 10px 10px;

                &.none {
                    width: 100%;
                    height: auto;
                    padding: 0;
                    font-size: $font-size-base;
                    padding-top: 80px;
                    text-align: center;
                }
            }

            &.blur {
                filter: blur(1px);
            }
        }

        &-content {
            width: 118px;
            height: 188px;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid #dbdbdb;

            &:hover {
                border: 1px solid $primary-color;
            }

            img {
                width: 100%;
            }
        }

        &-name {
            width: 100%;
            height: 30px;
            font-size: $font-size-small;
            overflow: hidden;
            line-height: 30px;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
